$light: #d0d9f4 !default;
$white: #ffffff !default;
$dark: #161217 !default;
$primary: #4f3271 !default;
$secondary: #d13d4f !default;
$info: #a34cb9 !default;
$success: #2b9762 !default;
$warning: #dbc92e !default;
$danger: #e42f18 !default;

@import "~bootstrap/scss/bootstrap.scss";
